.container-fluid{
    margin: 0px;
}

/* .row{
    margin: 10px;
} */

.nav-link{
    margin:auto;
    margin-top:2px;
    background-color: 	#fcfcfc;
    width: 100px;
}

.nav-link:hover { 
    background-color: #bbded6;
}

.header{
    /*position: absolute;*/
    left: 0;
    top: 0;
    margin: 0px;
    /*background-color:#dfe6ea;*/
    /* background-color:	#bbded6; */
    background-color:	#aeddf5;
    height: 16%;
}

.lasair-logo{
    /* width:350px;  */
    width:90%;
    margin:20px;
}

.content{
    margin-top:40px;
    margin-bottom:10px;
    background: #ffffff;
}

.caption{
    margin-top: 4%;
}


.main-svg{
    padding:5px;
}

dl dt {
    color: #7b8994;
    float: left;
    width: 100px;
    text-align: right;
    padding-top: 3px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

dd {
    margin: 0 0 20px 120px;
}

pre {
    overflow: auto;
}
.literal-block {
    background: #f6f9fc;
    padding: 10px;
    border: 1px solid #d0d4d9;
    font-family: monospace;
    border-radius: 3px;
}
