.container-fluid{
    margin: 0px;
}

.blue {
    background-color: #5dedfc;
}
.camblue {
    background-color: #a0e1e8;
}

.nav-link{
    margin:auto;
    margin-top:2px;
    color: black;
}

.nav-link:hover { 
    background-color: turquoise;
    color: black;
}

.content{
    margin-top:40px;
    margin-bottom:10px;
    background: #ffffff;
}

.caption{
    margin-top: 4%;
}


.main-svg{
    padding:5px;
}

pre {
    overflow: auto;
}
.literal-block {
    background: #f6f9fc;
    padding: 10px;
    border: 1px solid #d0d4d9;
    font-family: monospace;
    border-radius: 3px;
}
