{% extends "base.html"%}
{% block content %}

<div class="row">
<h2>Create new Area</h2>
<p>
An area is a region of the sky defined by a MOC. Each user of the Lasair system has their own set of areas, and can be alerted when a ZTF transient is inside one of their areas.
</p><p>
You can create an area by preparing a MOC file. For examples and programming see
<a href=https://cds-astro.github.io/mocpy/>MOCPy’s documentation</a>.
</p><p>
An "Active" area is one that is run against all incoming alerts.
latest objects.
</p>

{% if authenticated %}
<form method="POST"  action="/areas/" enctype="multipart/form-data">
<table>
<tr>
    <th width="40%"></th>
    <th width="60%"></th>
</tr>

<tr><td>Name:</td><td> <input name="name" width=50 value='Change_Me_{{ random }}'></td></tr>

<tr><td>Description:</td><td> <textarea name="description" rows=3 cols=40>Change_Me_{{ random }}</textarea></td></tr>

<tr><td>Upload a MOC file:</td> <td><input type="file" name="area_file"></td>
</tr>
</table>
<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value="Submit form">
</form>
    </div>

<div class="row"> {{ message|safe }}</div>
{% else %}
You must be logged in to create an area
<hr/>
</div>
{% endif %}
{% endblock %}


