
{% load static %}
<!doctype html>
<html lang="en">
<head>

<title>Lasair Transients and Variables</title>

<style>
.grayrow td {
    font-size: 10px;
    color: #ff0000;
}
</style>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130805761-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130805761-1');
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href=lasair/static/css/lasair-web.css> -->
<link rel="stylesheet" href="{% static 'css/lasair-web.css' %}">

</head>
<body>

<header>
</header>
<div class="col-xs-12" style="height:5px;"></div>
<div class="container container-lg">


  <nav class="navbar navbar-expand-lg justify-content-between" style="background:lightskyblue">

    <div class="dropdown">
      <a class="nav-link lightskyblue" href="/">
      <img width=130 src="{% static 'img/lasair-font.png' %}" ></a>
    </div>

    <div class="dropdown">
      <a class="nav-link lightskyblue" href="/explore">Explore</a>
    </div>

    <div class="dropdown">
      <a class="nav-link lightskyblue" href="/learn">Learn</a>
    </div>
 
    <div class="dropdown">
      <a class="nav-link lightskyblue" href="/code">Code</a>
    </div>
 
    <div class="dropdown">
      <a class="nav-link lightskyblue" href="/documentation">Documentation</a>
    </div>
 
    <div class="dropdown">
      <a class="nav-link lightskyblue" href="/support">Support</a>
    </div>
    <div class="dropdown">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div class="dropdown float-right">
      {% if user.is_authenticated %}
        <a class="nav-item nav-link dropdown-toggle lightskyblue " data-toggle="dropdown"
	   id="account-dropdown" href="#">{{ user.get_username }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/accounts/logout">Logout</a>
          </div>
      {% else %}
        <a class="nav-item nav-link dropdown-toggle lightskyblue " data-toggle="dropdown"
	   id="account-dropdown" href="#">Login</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/accounts/login">Login</a>
            <a class="dropdown-item" href="/signup">Signup</a>
          </div>
      {% endif %}
    </div>
  </nav>

{% block content %}{% endblock %}

{% block footer %}
<div class="col-xs-12" style="height:5px;"></div>
<div style="height: 100px; background:#ceebfd;">
  <div class="col-xs-12" style="height:10px;"></div>





  <div class="float-left mx-2 row align-items-center" >
    <a class="col" href=https://www.lsst.ac.uk/>
    <img class="align-middle" src="{% static 'img/lusc.png' %}" width=80></a>

    <a class="col" href=http://www.roe.ac.uk/ifa/wfau/>
    <img class="align-middle" src="{% static 'img/uoe.png' %}" width=70></a>

    <a class="col" href=https://star.pst.qub.ac.uk/wiki/doku.php/public/research_areas/supernovae/start>
    <img class="align-middle" src="{% static 'img/qub.png' %}" width=100></a>

    <a class="col" href=http://www.ztf.caltech.edu/>
    <img class="align-middle" src="{% static 'img/ztf.png' %}" width=70></a>

  
  

    <!-- {% if WEB_DOMAIN == 'lasair-dev' %}DEVELOPMENT {% endif %} '-->
  </div>
</div>
{% endblock %}
</body>
</html>
