{% extends "base.html"%}
{% block content %}
<div class="container">
<h3>Lasair Cookbook</h3>
<div class="col-md-12">
Lasair is a community broker of astronomical  transients, with an emphasis of rapid delivery of those alerts of interest to astronomers. Please find below a number of visual recipes so that you can exploit what Lasair can provide.
<ul>
<li><a href=/cookbook/conesearch/>How to do a Cone Search</a>
<li><a href=/cookbook/richobject/>Rich Object Information </a>
<li><a href=/cookbook/query/>How to query transients </a>
<li><a href=/cookbook/watchlist/>Build a watchlist of your sources </a>
<li><a href=/cookbook/outbursts/>Find outbursts from my watchlist </a>
<li><a href=/cookbook/realtimealerts/>Get real-time alerts from Lasair </a>
<li><a href=/cookbook/kafka/>Reading a Kafka stream </a>
<li><a href=/cookbook/skymaps/>Gravitational Wave Skymaps </a>
</ul>

</div>
</div>
{% endblock %}
