{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
<div class="col-sm">


<h2>Data from Lasair</h2>

<ul>
	<!--<li>Getting started tutorial  -->
<li>Alert Streams
  <ul>
  <li><a href=/querylist/promoted/>Promoted Queries and Filters</a>
  <li><a href=/querylist/public/>Contributed Queries and Filters</a>
  <li><a href=/querylist/my/>My Queries and Filters</a>
  </ul>
<li>Queries and Streams
  <ul>
  <li>  <a href=/query/>Make a Query</a>
  <li>  <a href=/schema>Table schemas</a>
  </ul>
<li>Annotators
  <ul>
  <li> <a href=/annotators/>List of annotators</a>
  </ul>
<li>Watchlists and Areas
  <ul>
  <li>  <a href=/watchlist_new/>Make a Watchlist</a>
  <li>  <a href=/watchlists/>List of Watchlists</a>
  <li>  <a href=/area_new/>Make an Area</a>
  <li>  <a href=/areas/>List of public Areas</a>
  </ul>
<li><a href=/conesearch>Conesearch </a>
<li><a href=/skymap>Gravitational waves </a>
</ul>


</div>
</div>
{% endblock %}
