<!DOCTYPE html>
<html>
    <head>
    <title>FITS Viewer</title>
        <script language="JavaScript" type="text/javascript" src="/lasair/static/js/fitsview.js"></script>
    <style>

.thick-bottom {
border-bottom:3px solid black;
}
.thick-border {
border:3px solid black;
}
td {
padding: 4px;
line-height: 80%;
}
.monospaced {
font-family:monospace;
font-size:12px;
}
</style>

<script>
var NROIS = 0;            // number of ROIS -- sufficient for code but not for html
var fits;                // FITS instance

var fits_url = '/fits/{{ filename }}';

// handy
function gebi (id) {
    return document.getElementById (id);
}
// one-time code after page is loaded
window.onload = function() {

// instantiate a FITS handler with NROIS ROIs
    fits = new FITS (gebi ("fits_div"), NROIS);

// set initial stretch
    fits.setStretch (gebi("stretch_sel").value);

// add handler to report new ROI
    fits.addROIChangedHandler (onROIChange);

// connect clean up function
    window.onunload = function() {
        if (fits.header_win)
        fits.header_win.close();
    };

// suck up the pixels RDW
    fits.imageFromUrl(fits_url);

}

// called to display header
function showHeader () {
    fits.showHeader(true);
}

// called when a contrast slider is moved
function newContrast (event) {
// collect both values
    var name = event.target.id;
    var number = event.target.id.substring (name.length-1, name.length);
    var contrast_value = gebi ('contrast_slider_' + number).value;

// update tracking number
    var contrast_value_id = gebi ("contrast_value_" + number);
    contrast_value_id.innerHTML = contrast_value;

// update image
    fits.setContrast (fits.rois[number], contrast_value/100.0);
}

// called when the user makes a stretch selection
function onStretchSel() {
    fits.setStretch (gebi("stretch_sel").value);
}

// called when an ROI changes, roi is in image coords.
function onROIChange (roi, redef, moved) {
    var eid = gebi ('roiinfo_' + roi.z);
    var title = roi.z == 0 ? "Image" : "ROI " + roi.z;
    displayStats (eid, "black", title, roi);
    fits.displayHistogram (roi, gebi ("roihcanvas_" + roi.z));
}

// called when user turns an ROI on or off
function onDisplayROI (roi_n) {
    var cb = gebi("display_roi_"+roi_n);
    fits.enableROI(roi_n, cb.checked);
}

// display roi and stats in an orderly manner in given DOM id in given color.
function displayStats (id, color, title, roi) {
    var stats = roi.stats;
    var fits_coords = fits.image2FITS(roi);
    var minat_coords = fits.image2FITS(roi.stats.minat);
    var maxat_coords = fits.image2FITS(roi.stats.maxat);
    id.innerHTML =
        title + ": " + pad(roi.width,4) + " x " + pad(roi.height,5)
          + " @ [" + pad(fits_coords.x,5) + ", "
          + pad(fits_coords.y,5) + "]<br>"
        + "Min " + pad(stats.min.toFixed(1),11) + pad("",4)
        + " @ [" + pad(minat_coords.x.toFixed(0),5) + ", "
        + pad(minat_coords.y.toFixed(0),5) + "]<br>"
        + "Max " + pad(stats.max.toFixed(1),11) + pad("",4)
        + " @ [" + pad(maxat_coords.x.toFixed(0),5) + ", "
        + pad(maxat_coords.y.toFixed(0),5) + "]<br>"
        + "Mean " + pad(stats.mean.toFixed(1),10) + pad("",2)
	+ "StdDev " + pad(stats.stddev.toFixed(1),12) + "<br>"
        + "Median " + pad(stats.median.toFixed(1),8) + pad("",1) 
        + " Sum " + pad(stats.sum.toFixed(1),15);
    id.style.color = color;
}

// return s padded on left to n chars
function pad (s, n) {
    s = s.toString();
    var nadd = n - s.length;
    for (var i = 0; i < nadd; i++)
        s = "&nbsp;" + s;
    return (s);
}
</script>
</head>

  <body>
    <!-- outer table is one row and three columns -->
    <table>
      <tr>
        <!-- first column is file controls and overall contrast -->
        <td style='vertical-align:top'>
          <table class='thick-border' style='width:320px' >
            <tr>
              <td class='thick-bottom' >
		<table width=300><tr><td>
                <select id="stretch_sel" onchange='onStretchSel()' >
                <option value='linear' selected >Linear</option>
                <option value='square' >Square</option>
                <option value='sqrt'>Square root</option>
                </select>
		</td>
		<td style="text-align:right">
		      <a href="/fits/{{ filename }}"><small>download fits</small></a>
		</td></tr></table>

                <table width='100%'>
                  <tr>
                    <td width='50%'>
                      <input type='range' id='contrast_slider_0' min='0' max='100'
                        step='1' value='0' onkeydown='newContrast(event)'
                        onmousemove='newContrast(event)' />
                    </td>
                    <td width='25%'>
                      <label id='contrast_value_0' class='monospaced' >0</label>
                    </td>
                    <td width='25%'>
                      <label>&nbsp;</label>
                    </td>
                  </tr>
                </table>

                <table style='width:100%'>
                  <tr>
                    <td>
                      <canvas title='histogram. black line: black pixel; magenta: median; green: mean; white: white pixel' id='roihcanvas_0' style="width:280px;height:100px;position:relative">
                      </canvas>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id='roiinfo_0' class='monospaced' > <br><br><br><br><br> </label>
                    </td>
                  </tr>
		  <tr><td><small>forked from <a href=https://www.clearskyinstitute.com/fits/>fitsview</a> by Elwood Downey</small></td></tr>
                </table>
              </td>
	    </tr>
          </table>
        </td>

        <td style='vertical-align:top' >
            <!-- second column is div for image canvas -->
           <div id="fits_div"
             style='width:317px; height:317px; position:relative; resize:both;
             overflow:scroll; padding-right:17px; padding-bottom:17px; ' >
             <!-- the 17 padding is to allow for the scroll bars in most browsers.
               -->
           </div>
        </td>
      </tr>
    </table>
  </body>
</html>
