<!DOCTYPE html>
<html>
    <head>
    <title>FITS Viewer</title>
        <script language="JavaScript" type="text/javascript" src="/lasair/static/js/fitsview_init.js"></script>
        <script language="JavaScript" type="text/javascript" src="/lasair/static/js/fitsview.js"></script>
    <style>

.thick-bottom {
border-bottom:3px solid black;
}
.thick-border {
border:3px solid black;
}
td {
padding: 4px;
line-height: 80%;
}
.monospaced {
font-family:monospace;
font-size:12px;
}
</style>

</head>
  <body>
    <!-- outer table is one row and three columns -->
    <table>
      <tr>
        <!-- first column is file controls and overall contrast -->
        <td style='vertical-align:top'>
          <table class='thick-border' style='width:320px' >
            <tr>
              <td class='thick-bottom' >
		<table width=300><tr><td>
                <select id="stretch_sel" onchange='onStretchSel()' >
                <option value='linear' selected >Linear</option>
                <option value='square' >Square</option>
                <option value='sqrt'>Square root</option>
                </select>
		</td>
		<td style="text-align:right">
		      <a href="/fits/{{ filename }}"><small>download fits</small></a>
		</td></tr></table>

                <table width='100%'>
                  <tr>
                    <td width='50%'>
                      <input type='range' id='contrast_slider_0' min='0' max='100'
                        step='1' value='0' onkeydown='newContrast(event)'
                        onmousemove='newContrast(event)' />
                    </td>
                    <td width='25%'>
                      <label id='contrast_value_0' class='monospaced' >0</label>
                    </td>
                    <td width='25%'>
                      <label>&nbsp;</label>
                    </td>
                  </tr>
                </table>

                <table style='width:100%'>
                  <tr>
                    <td>
                      <canvas title='histogram. black line: black pixel; magenta: median; green: mean; white: white pixel' id='roihcanvas_0' style="width:280px;height:100px;position:relative">
                      </canvas>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label id='roiinfo_0' class='monospaced' > <br><br><br><br><br> </label>
                    </td>
                  </tr>
		  <tr><td><small>forked from <a href=https://www.clearskyinstitute.com/fits/>fitsview</a> by Elwood Downey</small></td></tr>
                </table>
              </td>
	    </tr>
          </table>
        </td>

        <td style='vertical-align:top' >
            <!-- second column is div for image canvas -->
           <div id="fits_div"
             style='width:317px; height:317px; position:relative; resize:both;
             overflow:scroll; padding-right:17px; padding-bottom:17px; ' >
             <!-- the 17 padding is to allow for the scroll bars in most browsers.
               -->
           </div>
        </td>
      </tr>
    </table>
<script>
var fits_url = '/fits/{{ filename }}';
console.log(gebi ("fits_div"));
var fits = new FITS (gebi ("fits_div"), 0);

window.onload = function(){
    start_fitsview(fits, fits_url);
}
</script>
  </body>
</html>
