{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
<div class="col-sm">


<h2>Learn</h2>

<ul>
<li> What is Lasair?
  <ul>
  <li>  <a href=/lasairlsst>ZTF now and LSST future</a>
  </ul>
<li> Frequently Asked Questions
<li> <a href=/cookbook>Lasair cookbook</a>
<li> Annotations
  <ul>
  <li> <a href=/sherlock>Sherlock</a>
  <li> Watchlists
  <li> Areas
  <li> Transient Name Server
  <li> Creating your own annotations
  </ul>
<li> Getting started tutorial 
<li> Writing code
  <ul> 
  <li> Using Colab notebooks
  <li> With the Lasair API client
  </ul>
<li> Reference documentation
</ul>


</div>
</div>
{% endblock %}
