{% extends "base.html"%}
{% block content %}

<div class="row">
<div class="col-sm">

{% if is_owner %}

<form method="POST"  action="/watchlist/{{ watchlist.wl_id }}/">
<table>
{% csrf_token %}
<tr><td>Name</td><td><h2><input name="name" value="{{ watchlist.name }}"></h2></td></tr>
<tr><td>Description</td><td><textarea name="description" rows=4 cols=40>{{ watchlist.description }}</textarea></td></tr>
<tr><td>Radius<br/>(arcsec)</td><td><input name="radius" value="{{ watchlist.radius }}"></td></tr>
<tr><td>Active</td><td><h3><input type="checkbox" name="active" {% if watchlist.active == 1 %}checked{% endif %}></h3></td></tr>
<tr><td>Public</td><td><h3><input type="checkbox" name="public" {% if watchlist.public == 1 %}checked{% endif %}></h3></td></tr>
</table>

<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value=" Update watchlist"></td>
</form>

{% else %}

<table border=1>
<tr><td>Name</td><td><h2>{{ watchlist.name }}</h2></td></tr>
<tr><td>Description</td><td>{{ watchlist.description }}</td></tr>
<tr><td>Radius<br/>(arcsec)</td><td>{{ watchlist.radius }}</td></tr>
<tr><td>Active</td><td>{% if watchlist.active == 1 %}yes{% else %}no{% endif %}</td></tr>
<tr><td>Public</td><td>{% if watchlist.public == 1 %}yes{% else %}no{% endif %}</td></tr>
</table>

{% endif %}



Watchlist has {{ number_cones }} sources under watch, with {{ count }} shown below.
There have been {{ number_hits }} matches with ZTF objects.
To see the original input data (max 10,000 records), click <a href=/watchlist/{{ watchlist.wl_id }}/txt/>here</a>.
{{ message }}
{% if is_owner and number_count < 10000 %}
<table cellpadding=10><tr>
<td><form method="POST"  action="/watchlist/{{ watchlist.wl_id }}/">
{% csrf_token %}
<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value="Run Crossmatch">
</form> </td>
<td>The "Run Crossmatch" button compares all ZTF transients with your watchlist sources and reports the matches. It may take a few seconds so please be patient.
</td></tr></table>
{% endif %}


<table class="table">
<tr><th colspan=4>Watchlist</th><th colspan=5>Crossmatch ZTF</th></tr>
<tr>
<th>RA</th>
<th>Dec</th>
<th>Name</th>
<th>Radius</th>
<th>objectId</th>
<th>Age (days)</th>
<th>candidates</th>
<!--
<th>g-mag diff</th>
<th>r-mag diff</th>
<th>Sherlock class</th> -->
</tr>
{% for c in conelist %}
<tr>
<td>{{ c.ra|floatformat:4 }}</td>
<td>{{ c.decl|floatformat:4 }}</td>
<td>{{ c.name }}</td>
<td>{{ c.radius }}</td>
{% if c.ncand %}
  <td><a href=/object/{{ c.objectId }}/>{{ c.objectId }}</a></td>
<td>{{ c.age|floatformat:4 }}</td>
<td>{{ c.ncand }}</td>
{% endif %}
</tr>
{% endfor %}
</table>
</div>
</div>

{% endblock %}
