{% extends "base.html"%}
{% load static %}
{% block content %}
<div class="row">
	<h3>Lasair Ingestion Status</h3>
</div>
<div class="row">
	<div class="col-sm">
<font color="red"><h4>{{ message }}</h4> </font>
<table class="table">
<tr><td>Last Lasair update time (UTC)</td><td> {{ status.update_time }}</td></tr>
<tr><td>Alerts sent by ZTF today</td><td> {{ status.today_ztf }}</td></tr>
<tr><td>Alerts received by Ingest stage today</td><td> {{ status.today_ingest }}</td></tr>
<tr><td>Alerts sent from Ingest today</td><td> {{ status.today_ingest_out }}</td></tr>
<tr><td>Alerts received by Filter stage today</td><td> {{ status.today_filter }}</td></tr>
<tr><td>Alerts sent from Filter today</td><td> {{ status.today_filter_out }}</td></tr>
<tr><td>Updated objects in database today</td><td> {{ status.today_database }}</td></tr>
<tr><td>Since most recent alert, hours:minutes</td><td> {{ status.min_delay }}</td></tr>
</table>
</div>
{% endblock %}
