{% extends "base.html"%}
{% load static %}
{% block content %}
<div class="container">

<h1>Lasair API</h1>
The Lasair API allows developers to run queries and cone-searches, 
and to see outputs from streaming queries.
<h4>Request and response formats</h4>
The Lasair API uses either HTTP POST. Arguments can be passed in the query string, as JSON or form encoded. Responses are JSON. The examples below show how to drive the API with either curl or python code.

<h4>Authorisation</h4>
Request authentication is via authentication tokens. 
An example of a token is:
<pre class="literal-block">
4b762569bb349bd8d60f1bc7da3f39dbfaefff9a
</pre>
This "starter" token can be used for experiments with the API.
However, this key is throttled ans restricted, and should only be used
for discovery and play, not serious use.

We recommend that users request their own key by running the following script:
<pre class="literal-block">
curl --data 'username=u&password=p' https://lasair-iris.roe.ac.uk/api/auth-token/
</pre>
where <code>u</code> and <code>p</code> are replaced with username and password for your Lasair account,
which you can obtain <a href=/signup>here</a>.

<h4>Methods</h4>
Click on the method name to jump to documentation in the reference below.
<ul>
<li> <a href=#cone>/api/cone/</a>: runs a cone search on all the objects in the Lasair database.</li>
<li> <a href=#query>/api/query/</a>: runs a SQL SELECT query on the Lasair database. </li>
<li> <a href=#streams>/api/streams/</a>: returns a record of the output from a Lasair streaming query.</li>
<li> <a href=#lightcurves>/api/lightcurves/</a>: returns simple lightcurves for a number of objects.</li>
<li> <a href=#sherlock>/api/sherlock/</a>: returns Sherlock information about a list of named objects or about a sky position.</li>
</ul>

<h2>Reference</h2>
<a name=cone><h3>/api/cone/</h3></a>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method runs a cone search on all the objects in the Lasair database.
The arguments are:<ul>
<li><code>ra</code>: (float) the right ascension in decimal degrees, </li>
<li><code>dec</code>: (float) the declination in decimal degrees,</li>
<li><code>radius</code>: (float) the angular radius of the cone in arcseconds, the maximum being 1000 arcseconds.</li>
<li><code>requestType</code>: (string) the type of request, which can be:
<ul>
  <li><code>nearest</code>: returns only the nearest objects within the cone
  <li><code>all</code>: returns all the objects within the cone
  <li><code>count</code>: returns the number of objects within the cone
</ul></li>
</ul>
</p>
</dd>
<dt class="url-label">GET URL Example</dt> <dd>
<pre class="literal-block">
https://lasair-iris.roe.ac.uk/api/cone/?&ra=80.26844&dec=3.55481&radius=60.0&requestType=all&token=4b762569bb349bd8d60f1bc7da3f39dbfaefff9a&format=json
</pre>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  </p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'ra=194.494&dec=48.851&radius=60.0&requestType=all' \
https://lasair-iris.roe.ac.uk/api/cone/
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/cone/'
data = {'ra': '194.494', 'dec': '48.851', 'radius': '60', 'requestType':'all' }
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
print(response)
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{'objects': [
    {'object': 'ZTF17aaajmtw', 'separation': 2.5271898373111465}
], 
'info': 'Success'}
</pre>
</dd>
</dl>
</dt>

<a name=query><h3>/api/query/</h3></a>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method runs a query on the Lasair database.
The arguments are:<ul>
<li><code>selected</code>: (string) the list of attributes to be returned, </li>
<li><code>tables</code>: (string) the list of tables to be joined,</li>
<li><code>conditions</code>: (string) the "WHERE" criteria to restrict what is returned</li>
<li><code>limit</code>: (int) (not required) the maximum number of records to return (default is 1000)</li>
<li><code>offset</code>: (int) (not required) offset of record number (default is 0)</li>
</ul>
</p>
</dd>

<dt class="url-label">GET URL Example</dt> <dd>
<pre class="literal-block">
https://lasair-iris.roe.ac.uk/api/query/?selected=objectId%2Cgmag&tables=objects&conditions=gmag%3C12.0&token=4b762569bb349bd8d60f1bc7da3f39dbfaefff9a&format=json
</pre>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  </p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'selected=objectId,gmag&tables=objects&conditions=gmag&lt;12.0&limit=3' \
https://lasair-iris.roe.ac.uk/api/query/
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/query/'
data = {
'selected'  : 'objectId, gmag',
'tables'    : 'objects',
'conditions': 'gmag &lt; 12.0',
'limit'     : 3
}
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
print(json.dumps(response,  indent=2))
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{
  "query": {
    "selected": "objectId, gmag",
    "tables": "objects",
    "conditions": "gmag &lt; 12.0"
  },
  "result": [
    {
      "objectId": "ZTF18abszdyo",
      "gmag": 11.5082
    },
    {
      "objectId": "ZTF18abmogqt",
      "gmag": 11.5527
    },
    {
      "objectId": "ZTF18abcdajo",
      "gmag": 11.7786
    }
  ],
  "info": "Success"
}
</pre>
</dd>
</dl>
</dt>


<a name=streams><h3>/api/streams/</h3></a>
<dl>
<dt class="url-label">Description</dt> <dd>
<p>
This method returns a record of the output from a Lasair streaming query. It represents an alternative
to using a Kafka client to fetch from the Kafka server.
</p> <p>
If the <code>topic</code> argument is provided (with optional <code>max></code>), the contents of the stream are returned. Alternatively, if the <code>regex</code> argument is provided, a list of matching topic names will be returned. A list of all topics can be obtained with the regex <code>.*</code>.
</p>
The arguments are:<ul>
<li><code>topic</code>: (stream) the topic name to be fetched</li>
<li><code>max</code>: (int) (not required) the maximum number of records to return (default 1000)</li>
<li><code>regex</code>: (str) an expression used to select from the set of topics (regular expression)</li>
</ul>
</dd>

<dt class="url-label">GET URL Example with Regex</dt> <dd>
<pre class="literal-block">
https://lasair-iris.roe.ac.uk/api/streams/?regex=.%2ASN.%2A&token=4b762569bb349bd8d60f1bc7da3f39dbfaefff9a&format=json
</pre>
</dd>

<dt class="url-label">Curl Example with Regex</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'regex=.*SN.*' \
https://lasair-iris.roe.ac.uk/api/streams/
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
[
  {
    "topic":"2SN-likecandidates"
  },
  {
    "topic":"2C-SNAILS"
  }
]
</pre>
</dd>

<dt class="url-label">GET URL Example with Topic</dt> <dd>
<pre class="literal-block">
https://lasair-iris.roe.ac.uk/api/streams/?topic=2SN-likecandidates&limit=1&token=4b762569bb349bd8d60f1bc7da3f39dbfaefff9a&format=json
</pre>
</dd>

<dt class="url-label">Curl Example with Topic</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>here</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data '2SN-likecandidates&max=1' \
https://lasair-iris.roe.ac.uk/api/streams/
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
[
  {
    "objectId": "ZTF19abrokxg",
    "ramean": 35.82811567,
    "decmean": -27.79242059,
    "mjdmin": 59134.39827550016,
    "mjdmax": 59164.37175930012,
    "magrmin": 18.33,
    "rmag": 19.4124,
    "classification": "NT",
    "score": "Not Near PS1 star",
    "UTC": "2020-11-11 09:08:49"
  }
]
</pre>
</dd>

<dt class="url-label">Python Example with Topic</dt> <dd>
<p> This code requires the <code>requests</code> library.
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>here</a>.
<pre class="literal-block">
import requests,json
headers = { 'Authorization': 'Token a8f6df0e27618012c7cfbd957e8db267b82dc8c6' }
url = 'https://lasair-iris.roe.ac.uk/api/streams/'
data = { 'topic': '2SN-likecandidates', 'max': 1 }
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
if 'jsonStreamLog' in response:
    data = response['jsonStreamLog']['digest']
    print(json.dumps(data, indent=2))
print('info:', response['info'])
</pre>
<p>and the return is as above with the curl example </p>
</dd>

<a name=lightcurves><h3>/api/lightcurves/</h3></a>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method returns simple lightcurves for a number of objects. Each lightcurve is a sequence of
detections, each of which has the quantities:
<ul>
	<li><code>candid</code>: the candidate ID for the detection</li>
	<li><code>fid</code>: The filter ID for the detection (1 = g and 2 = r)</li>
	<li><code>magpsf</code>: The difference magnitude</li>
	<li><code>sigmapsf</code>: the error in the difference magnitude.</li>
	<li><code>isdiffpos</code>:set to 't' if positive difference magnitude, 'f' for negative</li>
	<li><code>mjd</code>: Modified Julain Day for the detection </li>
</ul>
The arguments are:<ul>
<li><code>objectIds</code>: (string) comma-separated string of objectIds to be fetched</li>
<li> There is a upper limit on the number of lightcurves that can be fetched, currently 50. 
	If you need to do serious data mining on Lasair light curves, please write to 
	<a href="mailto:lasair-help@lists.roe.ac.uk?subject=Notebooks">contact the Lasair team</a>.
</lihere>
</ul>
</p>
</dd>

<dt class="url-label">GET URL Example</dt> <dd>
<pre class="literal-block">
https://lasair-iris.roe.ac.uk/api/lightcurves/?objectIds=ZTF20acgrvqo%2CZTF19acylwtd%2CZTF18acmziob&token=4b762569bb349bd8d60f1bc7da3f39dbfaefff9a&format=json
</pre>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data "objectIds=ZTF18abmaxrs,ZTF18abmaxud,ZTF18abmaxvv,ZTF18abmaxwc" \
https://lasair-iris.roe.ac.uk/api/lightcurves/
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
<pre class="literal-block">
import requests,json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/lightcurves/'
data = {'objectIds': "ZTF18abmaxrs,ZTF18abmaxud,ZTF18abmaxvv,ZTF18abmaxwc"}
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
lightcurves = response['lightcurves']
print('4 lightcurves, %d candidates' % lightcurves['ncand'])
s = json.dumps(lightcurves['data']['ZTF18abmaxrs'], indent=2)
print(s[:200])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
4 lightcurves, 50 candidates
{
  "ZTF18abmaxrs": {
    "candid": 1342476680415015004,
    "fid": 1,
    "magpsf": 15.941200256347656,
    "sigmapsf": 0.04821600019931793,
    "isdiffpos": "t",
    "mjd": 59096.476689800154
  },
  {
... snip ...
</pre>
</dd>

<a name=sherlock><h3>/api/sherlock/</h3></a>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method returns Sherlock information for a collection of named objects, either the "lite" record that
is also in the Lasair database, or the full record including many possible crossmatches.
It can also return sherlock information for an arbitrary position ion the sky.
The arguments are:
<ul>
<li><code>objectIds</code>: a comma-separated list of objectIds, maximum number is 10</li>
<li><code>ra</code>: Right ascension of a point in the sky</li>
<li><code>dec</code>: Declination of a point in the sky</li>
<li><code>lite</code>: Set to 'true' to get the lite information only</li>
</ul>
You can supply either the list of <code>objectIds</code>, or the <code>ra</code> and <code>dec</code>. 
The <code>lite</code> argument can be supplied in either case.
</p>
</dd>

<dt class="url-label">GET URL Example with objects</dt> <dd>
<pre class="literal-block">
https://lasair-iris.roe.ac.uk/api/sherlock/?objectIds=ZTF20acgrvqo%2CZTF19acylwtd%2CZTF18acmziob&token=4b762569bb349bd8d60f1bc7da3f39dbfaefff9a&format=json
</pre>
</dd>

<dt class="url-label">Curl Example with list of objects</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data "objectIds:ZTF18abmaxrs,ZTF18abmaxud,ZTF18abmaxvv,ZTF18abmaxwc" \
https://lasair-iris.roe.ac.uk/api/sherlock/
</pre>
</dd>

<dt class="url-label">Python Example with list of objects</dt> <dd>
<p> This code requires the <code>requests</code> library.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/sherlock/'
data = { 'objectIds': 'ZTF18abmaxrs,ZTF18abmaxud,ZTF18abmaxvv,ZTF18abmaxwc' }
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
s = json.dumps(response, indent=2)
print(s[:200])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{
  "ZTF18abmaxrs": {
    "classifications": {
      "query": [
        "VS",
        "The transient is synonymous with 
</pre>
</dd>

<dt class="url-label">GET URL Example with Position</dt> <dd>
<pre class="literal-block">
https://lasair-iris.roe.ac.uk/api/sherlock/?ra=80.26844&dec=3.55481&token=4b762569bb349bd8d60f1bc7da3f39dbfaefff9a&format=json
</pre>
</dd>


<dt class="url-label">Curl Example with Position</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'ra=16.851866&dec=34.53307' \
https://lasair-iris.roe.ac.uk/api/sherlock/
</pre>
</dd>

<dt class="url-label">Python Example with Position</dt> <dd>
<p> This code requires the <code>requests</code> library.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/sherlock/'
data = {'ra': 16.851866, 'dec':34.53307}
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
s = json.dumps(response, indent=2)
print(s[:200])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{
  "classifications": {
    "query": [
      "VS",
      "The transient is synonymous with
</pre>
</div>
{% endblock %}
