{% extends "base.html"%}
{% load static %}
{% block content %}
<div class="container">

<h1>Lasair API</h1>
The Lasair API allows developers to run queries and cone-searches, 
and to see outputs from streaming queries.
<h2>Request and response formats</h2>
In general, the Lasair API uses either HTTP POST or GET requests. Arguments can be passed in the query string, as JSON or form encoded. Responses are JSON. 

<em>Note: GET method is an addition</em>

<h2>Authorisation</h2>
Request authentication is via authentication tokens. 
An example of a token is:
<pre class="literal-block">
4b762569bb349bd8d60f1bc7da3f39dbfaefff9a
</pre>
This "starter" token can be used for experiments with the API.
However, this key is throttled ans restricted, and should only be used
for discovery and play, not serious use.
we recommend that users request their own key by writing to 
<a href="mailto:lasair-help@lists.roe.ac.uk?subject=AuthKey">lasair-help@lists.roe.ac.uk</a> and we will supply your own key. 

<h2>Methods</h2>

<h3>/api/cone</h3>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method runs a cone search on all the objects in the Lasair database.
The arguments are:<ul>
<li><code>ra</code>: (float) the right ascension in decimal degrees, </li>
<li><code>dec</code>: (float) the declination in decimal degrees,</li>
<li><code>radius</code>: (float) the angular radius of the cone in arcseconds, the maximum being 1000 arcseconds.</li>
<li><code>requestType</code>: (string) the type of request, which can be:
<ul>
  <li><code>nearest</code>: returns only the nearest objects within the cone
  <li><code>all</code>: returns all the objects within the cone
  <li><code>count</code>: returns the number of objects within the cone
</ul></li>
</ul>
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  </p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'ra=194.494&dec=48.851&radius=60.0&requestType=all' \
https://lasair-iris.roe.ac.uk/api/cone/
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/cone/'
data = {'ra': '194.494', 'dec': '48.851', 'radius': '60', 'requestType':'all' }
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
print(response)
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{'objects': [
    {'object': 'ZTF17aaajmtw', 'separation': 2.5271898373111465}
], 
'info': 'Success'}
</pre>
</dd>
</dl>
</dt>


<h3>/api/query</h3>

<p><em>Note: this method is unchanged except for the addition of limit.</em></p>

<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method runs a query on the Lasair database.
The arguments are:<ul>
<li><code>selected</code>: (string) the list of attributes to be returned, </li>
<li><code>tables</code>: (string) the list of tables to be joined,</li>
<li><code>conditions</code>: (string) the "WHERE" criteria to restrict what is returned</li>
<li><code>limit</code>: (int) the maximum number of records to return (default is ??)</li>
</ul>
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  </p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'selected=objectId,gmag&tables=objects&conditions=gmag&lt;12.0' \
https://lasair-iris.roe.ac.uk/api/query/
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/query/'
data = {
'selected'  : 'objectId, gmag',
'tables'    : 'objects',
'conditions': 'gmag &lt; 12.0'
}
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
print(json.dumps(response,  indent=2))
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{
  "query": {
    "selected": "objectId, gmag",
    "tables": "objects",
    "conditions": "gmag &lt; 12.0"
  },
  "result": [
    {
      "objectId": "ZTF18abszdyo",
      "gmag": 11.5082
    },
    {
      "objectId": "ZTF18abmogqt",
      "gmag": 11.5527
    },
    {
      "objectId": "ZTF18abcdajo",
      "gmag": 11.7786
    },
    {
      "objectId": "ZTF18abwklfu",
      "gmag": 11.8384
    },
    {
      "objectId": "ZTF18abvkkaq",
      "gmag": 11.843
    }
  ],
  "info": "Success"
}
</pre>
</dd>
</dl>
</dt>

<h3>/api/streams</h3>
<dl>
<dt class="url-label">Description</dt> <dd>
<p>
<em>Note: This API call partially replaces &quot;streamlog&quot; and returns a list of topic names rather than the contents.</em>
</p>
The arguments are:<ul>
<li><code>name</code>: (str) an expression used to restrict the set of topics (same syntax as SQL &quot;LIKE&quot;)</li>
</ul>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'name=%TNS%' \
https://lasair-iris.roe.ac.uk/api/streams
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
[
  {
    "topic":"2TNScrossmatch"
  },
  {
    "topic":"SomeOtherTNSTopic"
  }
]
</pre>
</dd>


<h3>/api/streams/&lt;topic&gt;</h3>
<dl>

<dt class="url-label">Description</dt> <dd>
<p><em>Note: this API call partially replaces  &quot;streamlog&quot; and returns the contents of a topic. Note that this may include multiple alerts for the same object. If we want to remove duplicates and it's easy to do then we could add that as an option maybe?</em></p>
<p>
This method returns a record of the output from the specified Lasair streaming query. It represents an alternative
to using a Kafka client to fetch from the Kafka server. <code>&lt;topic&gt;</code> is the topic name to be fetched</p>
<p>
The arguments are:<ul>
<li><code>max</code>: (int) the maximum number of records to return</li>
</ul>
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'max=3' \
https://lasair-iris.roe.ac.uk/api/streams/2SN-likecandidates
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
<pre class="literal-block">
import requests,json
headers = { 'Authorization': 'Token a8f6df0e27618012c7cfbd957e8db267b82dc8c6' }
url = 'https://lasair-iris.roe.ac.uk/api/streamlog/2SN-likecandidates'
data = { 'max': 3 }
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
if 'jsonStreamLog' in response:
    data = response['jsonStreamLog']['digest']
    print(json.dumps(data, indent=2))
print('info:', response['info'])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
[
  {
    "objectId": "ZTF18acpsdtl",
    "ramean": 32.203889958823524,
    "decmean": 45.364292688235295,
    "mjdmin": 59053.42844909988,
    "mjdmax": 59081.42621529987,
    "magrmin": 18.1173,
    "rmag": 18.2281,
    "classification": "NT",
    "score": "Not Near PS1 star",
    "UTC": "2020-08-20 12:36:12"
  },
  {
    "objectId": "ZTF18abvfafa",
    "ramean": 5.082597047826087,
    "decmean": 28.26374956956522,
    "mjdmin": 59052.451261600014,
    "mjdmax": 59081.46531250002,
    "magrmin": 19.4799,
    "rmag": 19.9639,
    "classification": "NT",
    "score": "Not Near PS1 star",
    "UTC": "2020-08-20 12:36:12"
  },
  {
    "objectId": "ZTF18abtgidi",
    "ramean": 41.88432473970589,
    "decmean": 36.82709041617647,
    "mjdmin": 59052.431504600216,
    "mjdmax": 59081.47545140004,
    "magrmin": 19.0019,
    "rmag": 19.4075,
    "classification": "NT",
    "score": "Not Near PS1 star",
    "UTC": "2020-08-20 12:36:12"
  }
]
info: Success
</pre>
</dd>

<h3>/api/lightcurves</h3>
<dl>

<dt class="url-label">Description</dt> <dd>
<p><em>Note: this API call changes the arguments from a list of objectIDs to a query. This means that many queries that would otherwise require two API calls (one to /query and one to /lightcurves) can be done in a single step. Of course it can still be used with a list of IDs as shown here, it just requires a bit of extra syntactic sugar. I've assumed that we will always want to actually get the lightcurves and not just a list of metadata, but I'm not certain whether this is correct.</em></p>
<p>
This method returns simple lightcurves for a number of objects. Each lightcurve is a sequence of
detections, each of which has the quantities:
<ul>
	<li><code>candid</code>: the candidate ID for the detection</li>
	<li><code>fid</code>: The filter ID for the detection (1 = g and 2 = r)</li>
	<li><code>magpsf</code>: The difference magnitude</li>
	<li><code>sigmapsf</code>: the error in the difference magnitude.</li>
	<li><code>isdiffpos</code>:set to 't' if positive difference magnitude, 'f' for negative</li>
	<li><code>mjd</code>: Modified Julain Day for the detection </li>
</ul>
The arguments are:<ul>
<li><code>conditions</code>: (string) the criteria to restrict what is returned. The format is the same as a <code>/query</code> on the object table.</li>
<li><code>limit</code>: (int) the maximum number of lightcurves to return (default ??)</li>
</ul>
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data "conditions=objectId IN ('ZTF18abmaxrs','ZTF18abmaxud','ZTF18abmaxvv','ZTF18abmaxwc')" \
https://lasair-iris.roe.ac.uk/api/lightcurves/
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
<pre class="literal-block">
import requests,json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/lightcurves/'
objectIds = ('ZTF18abmaxrs','ZTF18abmaxud','ZTF18abmaxvv','ZTF18abmaxwc')
data = {'conditions': "objectID IN {}".format(str(objectIds)) }
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
lightcurves = response['lightcurves']
print('4 lightcurves, %d candidates' % lightcurves['ncand'])
s = json.dumps(lightcurves['data']['ZTF18abmaxrs'], indent=2)
print(s[:200])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
4 lightcurves, 50 candidates
[
  {
    "candid": 1342476680415015004,
    "fid": 1,
    "magpsf": 15.941200256347656,
    "sigmapsf": 0.04821600019931793,
    "isdiffpos": "t",
    "mjd": 59096.476689800154
  },
  {
... snip ...
</pre>

<p><em>Note: this has a problem - how do we know which lightcurve belongs to which object? Could we have something like the following instead maybe?<em></p>
<pre class="literal-block">
status= 200
4 lightcurves, 50 candidates
{
  "ZTF18abmaxrs": {
    "candid": 1342476680415015004,
    "fid": 1,
    "magpsf": 15.941200256347656,
    "sigmapsf": 0.04821600019931793,
    "isdiffpos": "t",
    "mjd": 59096.476689800154
  },
  "ZTF18abmaxud": {
... snip ...
</pre>

</dd>

<h3>/api/lightcurves/&lt;ObjectID&gt;</h3>
<dl>

<dt class="url-label">Description</dt> <dd>
<p><em>Note: this API call is provided primarily for consistency as it could be replicated with the above call.</em></p>
<p>
This method returns the lightcurve for a single object specified by <code>&lt;objectID&gt;</code>.
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
https://lasair-iris.roe.ac.uk/api/lightcurves/ZTF18abmaxrs
</pre>
</dd>

<h3>/api/sherlock/objects</h3>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method returns Sherlock information for a collection of objects, either the "lite" record that
is also in the Lasair database, or the full record including many possible crossmatches.
The arguments are <em>either:</em><ul>
<li><code>conditions</code>: (string) the criteria to restrict what is returned. The format is the same as a <code>/query</code> on the object table.</li>
<li><code>limit</code>: (int) the maximum number of recrods to return (default ??)</li>
<li><code>lite</code>: Set to 'true' to get the lite information only</li>
</ul>
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data "conditions=objectId IN ('ZTF18abmaxrs','ZTF18abmaxud','ZTF18abmaxvv','ZTF18abmaxwc')" \
https://lasair-iris.roe.ac.uk/api/sherlock/query/
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/sherlock/objects'
data = { "conditions": "objectId IN ('ZTF18abmaxrs','ZTF18abmaxud','ZTF18abmaxvv','ZTF18abmaxwc')" }
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
s = json.dumps(response, indent=2)
print(s[:200])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{
  "ZTF18abmaxrs": {
    "classifications": {
      "query": [
        "VS",
        "The transient is synonymous with 
</pre>
</dd>


<h3>/api/sherlock/objects/&lt;objectID&gt;</h3>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method returns Sherlock information about a single named object, either the "lite" record that
is also in the Lasair database, or the fullrecord including many possible crossmatches.
The arguments are:<ul>
<li><code>objectId</code>: The objectId whose information is wanted</li>
<li><code>lite</code>: Set to 'true' to get the lite information only</li>
</ul>
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
https://lasair-iris.roe.ac.uk/api/sherlock/objects/ZTF17aaaaaan
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/sherlock/objects/ZTF17aaaaaan'
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
s = json.dumps(response, indent=2)
print(s[:200])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{
  "classifications": {
    "ZTF17aaaaaan": [
      "VS",
      "The transient is synonymous with <em>232996070233157632</em>; a G=16.03 mag stellar source found in the GAIA/PS1
</pre>
</dd>



<h3>/api/sherlock/position</h3>
<dl>

<dt class="url-label">Description</dt> <dd>
<p>
This method returns Sherlock information for a position specified by right ascension and declination.
The arguments are <ul>
<li><code>ra</code>: Right ascension of a point in the sky</li>
<li><code>dec</code>: Declination of a point in the sky</li>
<li><code>lite</code>: Set to 'true' to get the lite information only</li>
</ul>
</p>
</dd>

<dt class="url-label">Curl Example</dt> <dd>
<p> The authorization token goes in the header of the request, and the data in the data section.  
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
</p>
<pre class="literal-block">
curl --header 'Authorization: Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' \
--data 'ra=16.851866&dec=34.53307' \
https://lasair-iris.roe.ac.uk/api/sherlock/position
</pre>
</dd>

<dt class="url-label">Python Example</dt> <dd>
<p> This code requires the <code>requests</code> library.
For more information about this stream, see <a href=https://lasair-iris.roe.ac.uk/query/2/>https://lasair-iris.roe.ac.uk/query/2/</a>.
<pre class="literal-block">
import requests, json
headers = { 'Authorization': 'Token 4b762569bb349bd8d60f1bc7da3f39dbfaefff9a' }
url = 'https://lasair-iris.roe.ac.uk/api/sherlock/position'
data = {'ra': 16.851866, 'dec':34.53307}
r = requests.post(url, data, headers=headers)
print('status=', r.status_code)
response = r.json()
s = json.dumps(response, indent=2)
print(s[:200])
</pre>
<p>and the return is something like: </p>
<pre class="literal-block">
status= 200
{
  "classifications": {
    "query": [
      "VS",
      "The transient is synonymous with
</pre>
</div>
{% endblock %}
